<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Description de la voie</title>

</head>

<body>

<section layout:fragment="content">

    <!-- description de la voie -->

    <h3 th:unless="!${route}" th:text="'Nom de la voie: ' + ${route.getName()}">Pas de nom</h3><br/>
    <h3 th:unless="!${route}" th:text="'Nombre de longueurs: ' + ${route.getLengths().size()}">Pas de longueurs</h3>
    <br/>
    <!--
     <h3 th:text="'Difficulté: de ' + ${} ' à ' + ${}"></h3><br/>
     <br/>
 -->

    <form method="post">
        <div class="form-group">
            <fieldset>
                <label>Saisir les longueurs et leur cotation </label>
                <input class="form-control" th:type="text" th:name="name" placeholder="Nom de la longueur"/>
                <input class="form-control" type="number" name="DRating" placeholder="Cotation chiffre"/>
                <input class="form-control" type="text" name="CRating" placeholder="Cotation lettre"/>
                <input  type="submit" name= "lth" value="+"/>
            </fieldset>
        </div>
    </form>

    <!-- Listes des longueurs-->

    <table class="table">
        <tr>
            <th>Nom de la voie</th>
            <th>Cotation</th>
        </tr>
        <tr th:each="length  : ${lengths}">
            <td th:text="${length.getName()}"></td>
            <td th:text="${length.getDRating()} + ${length.getCRating()}"></td>
        </tr>
    </table>



</section>

<section layout:fragment="content-right">

    <!-- Formulaire -->

    <form method="post">
        <fieldset>
            <label>Laissez un commentaire pour vos impressions sur cette voie</label>
            <br/>
            <input class="form-control" type="email" placeholder="Votre adresse email" th:default="${useremail}" name="email"/><br/>
            <textarea class="form-control" rows="10" placeholder="Commentaire..." name="text"/><br/>
            <input type="submit" name="commentaire" value="commentaire"/>
        </fieldset>
    </form><br />

    <table class="table">
        <tr>
            <th>email</th>
            <th>Commentaire</th>
        </tr>
        <tr th:each="item:${comments}">
            <td th:text="${item.getEmail()}"/>
            <td th:text="${item.getText()}"/>
        </tr>
    </table>


</section>

</body>
</html>