<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Parcours</title>

</head>

<body>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->
    <div class="row">
        <div class="col-md-4">
            <table class="table">
            <th>Sites</th>
            <tr th:each="site : ${sites}">

                <td><a style="color: #213370" th:href="@{'/routes/' + ${site.getId()}}" th:value="${site.getId()}"
                       th:text="${site.getName()}"/></td>
            </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
            <th>Secteurs</th>
            <!--/*@thymesVar id="areas" type="java"*/-->
            <tr th:each="area : ${areas}">
                <td>
                <!--/*@thymesVar id="getSite" type="java"*/-->
                <a style="color: #213370"
                       th:href="@{'/routes/' + ${area.getSite().getId()} + '/' + ${area.getId()}}"
                       th:value="${area.getId()}" th:text="${area.getName()}"/></td>
            </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
            <th>Voies</th>
            <tr th:each="route : ${routes}">
                <td><a style="color: #213370" th:href="@{'/routedescription/' + ${route.getId()}}"
                       th:value="${route.getId()}" th:text="${route.getName()}"/></td>
            </tr>
            </table>
        </div>

    </div>

</section>

<section layout:fragment="content-right">
    <form action="/routes" method="post">
        <fieldset>
            <div class="form-group">
            <label>Trouver un parcours en choisissant une région</label><br/>
            <label>Région</label>
            <select name="region" class="form-control">
                <option th:each="reg:${regList}" th:text="${reg.getName()}" th:value="${reg.getId()} "></option>
            </select>
            <br/>
            <input type="submit" name="Chercher" value="Chercher"/>
            </div>
        </fieldset>
    </form>
    <br/>
    <br/>
    <form method="post">
        <fieldset th:unless="!${selectedArea}">

            <label th:text="'Entrez une nouvelle route pour le secteur ' + ${selectedArea} + ' :'"></label>
            <input type="text" name="name" placeholder="Nom de la voie"/><br/>
            <br/>
            <input type="submit" name="Ajouter" value="Ajouter"/>

        </fieldset>
    </form>
    <br/>


</section>

</body>
</html>