<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Description de la voie</title>

</head>

<body>

<section layout:fragment="content">

    <!-- description de la voie -->

    <h3 th:unless="!${route}" th:text="'Nom de la voie: ' + ${route.getName()}">Pas de nom</h3><br/>
    <h3 th:unless="!${route}" th:text="'Nombre de longueurs: ' + ${route.getLengths().size()}">Pas de longueurs</h3><br/>
   <!--
    <h3 th:text="'Difficulté: de ' + ${} ' à ' + ${}"></h3><br/>
    <br/>
-->
    <!-- Comments -->

    <table>
        <tr>
            <th>email</th>
            <th>Commentaire</th>
        </tr>
        <tr th:each="item:${comments}">
            <td th:text="${item.getEmail()}"/>
            <td th:text="${item.getText()}"/>
        </tr>
    </table>



</section>

<section layout:fragment="content-right">

    <!-- Formulaire -->
    <fieldset>
        <form method="post">
            <label>Laissez un commentaire pour vos impressions sur cette voie</label><br/>
            <br/>
            <input type="email" placeholder="Votre adresse email" name="email"/><br/>
            <br/>
            <textarea rows="10" placeholder="Commentaire..." name="text"/><br/>
            <br/>
            <input type="submit"/>
        </form>
    </fieldset>

</section>

</body>
</html>