<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title th:text="${title}">Home</title>

</head>

<body>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->
    <h3 th:text="'Le livre ' + ${title} + ' a été écrit par ' + ${author} + ' et  parle des reliefs de la région : ' + ${region}" ></h3><br />
    <br />


    <!-- table calendar starts here -->

    <h2>Dates réservées</h2>
        <ul>
            <li th:each="borrowing : ${borrowings}" th:text="${borrowing}"/>
        </ul>
    <h2>Calendrier des réservations</h2>
    <div class="row">
        <div class="col-md-4">
            <div>
                <table class="table" summary="Calendar">
                    <tr>Janvier</tr>
                    <thead>
                    <tr>
                        <th  abbr="Lundi" scope="col" title="Lundi">L</th>
                        <th abbr="Mardi" scope="col" title="Mardi">M</th>
                        <th abbr="Mercredi" scope="col" title="Mercredi">M</th>
                        <th abbr="Jeudi" scope="col" title="Jeudi">J</th>
                        <th abbr="Vendredi" scope="col" title="Vendredi">V</th>
                        <th abbr="Samedi" scope="col" title="Samedi">S</th>
                        <th abbr="Dimanche" scope="col" title="Dimanche">D</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!--
                    <tr th:each="week:${monthweeks}">
                        <td th:each="day:${weekdays}" th:text="" th:value="" th:style="'background:' + ${booked} + ';'">1</td>
                    </tr>
                    -->
                    <tr>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td class="pad" colspan="4">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- table calendar ends here -->


</section>

<section layout:fragment="content-right">

    <form method="post">
        <fieldset>
            <div class="form-group">
            <label>Emprunter ce topo</label><br/>
            <label>Du:</label><br/>
            <input class="form-control" type="date" name="start"/><br/>
            <label>Au:</label><br/>
            <input class="form-control" type="date" name="end"/><br/>

            <input type="submit"/><br/>
            </div>
            <h3 th:unless="${!message}" th:text="${message}"></h3>

        </fieldset>
    </form>

</section>

</body>
</html>